.chart{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #fff;
  >span{
    font-size:20px;
    padding:10px 15px;
    background:#ffda47;
    // display:flex;
    line-height: 1.5;
    height:10%
  }
  &-bar{
    flex:1
  }
  .navWrap{
    height:8%;
  }
}