.general{
  height:inherit;
  background: #ccc;
  &-head{
    font-size:20px;
    padding:15px;
    background:#ffda47;
    display:flex;
    line-height: 1.5;
    align-items: center;
    div:nth-child(2){
      margin-right: 50px;
    }
    &-block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      &-word{
        font-size: 12px;
        color: #999;
      }
      &-number{
        font-size: 18px;
      }
    }
  }
  &-body{
    &-list{
      margin:0;
      // background-color: #fff;
      li{
        padding:0 10px;
        margin-bottom: 1px;
        // border-radius: 4px;
        display:flex;
        height: 3.3em;
        line-height: 3.3em;
        justify-content: space-between;
        font-size: 16px;
        background-color: #fff;
        .iconWrapper{
          display: flex;
          >span{
            margin-left:20px;
            font-size: 14px;
          }
          .iconfont{
            font-size:2em;
          }
        }
        // &:last-child{
        //   margin-bottom: 0;
        // }
        .moneyAndDate{
          display: flex;
          flex-direction: column;
          &-money{
            line-height: 2;
            text-align: right;
          }
          &-date{
            font-size: 12px;
            color: #999;
            line-height: 1;
          }
        }
      }
    }
  }
}